.App {
  display: flex;
  justify-content: space-around;
}

.NoteListContainer {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #eee;
}

.EditorContainer {
  width: 70%;
  height: 100vh;
  margin-right: 8px;
}